 /* font shared style  */
 .merriweather-fonts {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
 }
 
 .inter-font {
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
 }
 
 
 
 .new-banner{
    background-image: linear-gradient(#07021179 , #07021160) ,url("../images/Banner\ Image.png") ;
    height: 600px;
    background-size:contain;
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px ;
    border-radius: 16px;
    
   }


.intro-text{

  
}

.intro-texts{

  align-items: center;
   padding: 117px 344px;
  
}

 .banner-subtitle{
    font-size: 72px;
    color: white;
 }

 .banner-title{
    font-size:32px ;
    
    color: white;
    padding-top: 12px;

 }


 /* 2nd part discount */

 .discount-offer{
   text-align:center ;
   margin-bottom: 120px;
 }
 .discount{
   color: red;
   
   font-size: 88px;
   font-weight: bold;
 }
 .dis-title{
   font-size: 24px;
   font-weight: 500;
   margin-top: 28px;
   margin-bottom: 10px;
   color:red;
 }
 
 .dic-subtitle{
   font-weight: bold;
   font-size: 48px;
   margin-bottom: 48px;
   
 }
.happy-new img{
   height: 500px;
   width: 805px;
}

/* 3rd layer style  */

.mid-night-party{
  background-image: linear-gradient(#070211a3 , #07021172 , #0702117d , #0702113c, #07021134,#07021121 ,#07021164,#07021152 ) ,url("../images/Vectorrr.png");
  height: 600px;
  width: 1320px;
  margin: 0% auto;
border-radius: 16px;
margin-bottom: 120px;
}

.night-party{


}

.welcome{
  font-size: 64px;
  color: white;
letter-spacing: 11%;
text-align: left;
padding-top: 130px;
padding-left: 130px;
padding-right: 550px;
line-height: 85px;
 
}

.party-title{

  font-size: 18px;
  color: white;
  line-height: 30px;
  padding-top: 24px;
  padding-left: 130px;
  padding-bottom: 40px;
 padding-right: 500px;
}
.join{

  font-weight: bold;
  font-size: 22px ;
  color: white;
  padding-left: 155px;
 
}